<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>

    </style>
</head>
<body>  
    <h1 class="text-center mt-3 fs-2 text">Gráfico de população dos países selecionados</h1>

    <div class="row mt-5">
        <div class="col-3">
        </div>
        <div class="col-6">
            <canvas id="myChart"></canvas>
        </div>
        <div class="col-3">
        </div>
    </div>

<script>
    function chart() {
        const ctx = document.getElementById('myChart');

        new Chart(ctx, {
            type: 'bar',
            data: {
            labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
            datasets: [{
                label: '# of Votes',
                data: [12, 19, 3, 5, 2, 3],
                borderWidth: 1
            }]
            },
            options: {
            scales: {
                y: {
                beginAtZero: true
                }
            }
            }
        });
    }

    chart()

</script>
</body>
</html>