
<div class="container">

    <div class="row mt-5">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <h5>Gráfico populacional de países</h5>

            <p>O gráfico representa a distribuição populacional por país, evidenciando as disparidades demográficas globais. As barras revelam a variação de tamanho populacional entre nações, destacando as potências populacionais e as diferenças significativas entre regiões. Países como China e Índia se destacam com grandes números, enquanto outras nações menores aparecem com proporções mais modestas. Essa representação visual oferece insights sobre a dinâmica demográfica e a diversidade populacional em escala global.</p>
            <p>Para realizar a pesquisa é necessário clicar em 5 países e clicar no botão de buscar</p>
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">Gráfico de população de Paises</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <h5>Selecione os 5 Países desejados</h5>
                            <select class="form-select" id="selectPais" aria-label="Default select example">
                                <option selected>Selecione um País</option> 
                                {{#each jsonData.country}}
                                    <option value="{{this.Code}}">{{this.Name}}</option>
                                {{/each}}
                            </select>
                            <div class="row mt-3">
                                <div class="col-6">
                                    <div class="d-flex flex-column" id="listSelect">
                                        <!-- Gerado no JS -->
                                        
                                    </div>
                                </div>
                                
                            </div>
                                <form id="countryForm" action="http://127.0.0.1:3000/grafico" method="POST">
                                    <!-- Adicione um campo hidden para armazenar os países -->
                                    <input type="hidden" id="selectedCountries" name="selectedCountries" value="">
                                </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                            <button type="submit" class="btn btn-primary" id="saveButton">Salvar</button>
                        </div>
                    </div>
                </div>
            </div>

            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                Ver Gráfico
            </button>    
        </div>
        <div class="col-md-2"></div>
    </div>

    <div class="row mt-5">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <h5>Gráfico de população de cidades</h5>

            <p>O gráfico ilustra a distribuição populacional entre as cidades de um país específico, revelando contrastes significativos em tamanho e densidade demográfica. Capitais como São Paulo e Rio de Janeiro se destacam como centros populacionais proeminentes, enquanto cidades menores exibem números mais modestos. Essa representação visual oferece insights sobre a estrutura urbana do país, evidenciando a diversidade populacional e a concentração em centros urbanos específicos.</p>
            <p>Para realizar a pesquisa é necessário selecionar o País e após isso selecionar 5 cidades</p>

            <!-- Modal população das cidades -->
            <div class="modal fade" id="cityPopulationModal" tabindex="-1" aria-labelledby="cityModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="cityModalLabel"> Gráfico de população de cidades por País </h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <h5>Selecione um  Pais e depois selecione 5 cidade </h5>
                            <div class="row">
                                <div class="col-6"> 
                                    <select class="form-select" id="selectCountryCity" aria-label="Default select city">
                                        <option selected> Selecione um País </option> 
                                        {{#each  jsonData.country5 }}
                                            <option value="{{this.Code}}">{{this.Name}}</option>
                                        {{/each}}
                                    </select>
                                </div>
                                <div class="col-6"> 
                                    <select class="form-select" id="selectCity" aria-label="Default select city">
                                        <option selected> Selecione uma cidade </option> 
                                    </select>
                                </div>
                            </div>

                            <div class="row mt-3">
                                <div class="col-6">
                                    <div class="d-flex flex-column" id="listSelectCity">
                                        <!-- Gerado no JS -->
                                        
                                    </div>
                                </div>
                                
                            </div>
                                <form id="cityForm" action="http://127.0.0.1:3000/grafico_cidade" method="POST">
                                    <!-- Adicione um campo hidden para armazenar os países -->
                                    <input type="hidden" id="selectedCitys" name="selectedCitys" value="">
                                </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                            <button type="submit" class="btn btn-primary" id="saveButtonCity">Salvar</button>
                        </div>
                    </div>
                </div>
            </div>

            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#cityPopulationModal">
                Ver Gráfico
            </button>
        </div>
        <div class="col-md-2"></div>
    </div>
    


</div>

<script>
    const selectCountryCity = document.querySelector('#selectCountryCity');
    selectCountryCity.addEventListener("change", function (){
        let country = selectCountryCity.value;

        const requestOptions = {
            method: 'GET',
            headers: {
                'Content-Type': 'application/json'
            }
        };

        let url = `http://127.0.0.1:3000/getCountryCitys?country=${country}`;

        let listOfCity = {};
        async function fetchCitys(){
            try {
            const response = await fetch(url, requestOptions)
            const data = await response.json();
            listOfCity = data;

            let selectCity = document.getElementById('selectCity');
            selectCity.innerHTML = '';

            listOfCity["citys"].forEach((element) => {
                let option = document.createElement('option');
                option.value = element.name;
                option.text = element.name;
                selectCity.appendChild(option);
            });

        } catch (error){
            console.log(error);
        }
    }
    fetchCitys();
       
    });
</script>

{{!-- enviar cidades --}}
<script>
    const selectCity = document.querySelector('#selectCity');
    let listSelectCity = document.querySelector('#listSelectCity');
    let saveButtonCity = document.getElementById('saveButtonCity');
    let selectedCitysInput = document.getElementById('selectedCitys');

    let listOfCitys = [];

    function getValueSelectCity() {
        selectCity.addEventListener('change', function () {
            if (listOfCitys.length < 5 && !listOfCitys.includes(selectCity.value)) {
                listOfCitys.push(selectCity.value);
                listOfCitys = Array.from(new Set(listOfCitys));
                console.log(listOfCitys);
                updateListCity();
            } else {
                alert('Você pode selecionar no máximo 5 países.');
            }
        }); 
    }

    function updateListCity() {
        listSelectCity.innerHTML = '';

        listOfCitys.forEach(function (city, index) {
            const listItemCity = document.createElement('div');
            listItemCity.classList.add('d-flex', 'flex-row', 'align-items-center');

            const paragraphCity = document.createElement('p');
            paragraphCity.classList.add('p-2', 'm-0');
            paragraphCity.textContent = city;

            const deleteButtonCity = document.createElement('button');
            deleteButtonCity.classList.add('btn');
            deleteButtonCity.innerHTML = '<i class="bi bi-trash"></i>';
            deleteButtonCity.addEventListener('click', function () {
                listOfCitys.splice(index, 1);
                updateListCity();
            });

            listItemCity.appendChild(paragraphCity);
            listItemCity.appendChild(deleteButtonCity);

            listSelectCity.appendChild(listItemCity);
        });

        selectedCitysInput.value = listOfCitys.join(',');
    }

    saveButtonCity.addEventListener('click', function () {
        if (listOfCitys.length === 5) {
            document.getElementById('cityForm').submit();
        } else {
            alert("Você precisa selecionar 5 cidades");
        }
    });

    document.getElementById('cityForm').addEventListener('submit', function (event) {
        const existingHiddenInputCity = document.getElementById('selectedCitys');
        if (existingHiddenInputCity) {
            existingHiddenInputCity.remove();
        }

        const newHiddenInput = document.createElement('input');
        newHiddenInput.type = 'hidden';
        newHiddenInput.id = 'selectedCountries';
        newHiddenInput.name = 'selectedCountries';
        newHiddenInput.value = listOfCitys.join(',');

        document.getElementById('cityForm').appendChild(newHiddenInput);
    });
    getValueSelectCity();
</script>

<script>
    const selectPais = document.querySelector('#selectPais');
    let listSelect = document.querySelector('#listSelect');
    let saveButton = document.getElementById('saveButton');
    let selectedCountriesInput = document.getElementById('selectedCountries');

    let listPais = [];
    let listPaisName = [];

    function getValueSelect() {
        selectPais.addEventListener('change', function () {
            if (listPais.length < 5 && !listPais.includes(selectPais.value)) {
                listPais.push(selectPais.value);
                listPaisName.push(selectPais.options[selectPais.selectedIndex].text);
                listPais = Array.from(new Set(listPais));
                console.log(listPais);
                updateList();
            } else {
                alert('Você pode selecionar no máximo 5 países.');
            }
        });
    }

    function updateList() {
        listSelect.innerHTML = '';

        listPaisName.forEach(function (pais, index) {
            const listItem = document.createElement('div');
            listItem.classList.add('d-flex', 'flex-row', 'align-items-center');

            const paragraph = document.createElement('p');
            paragraph.classList.add('p-2', 'm-0');
            paragraph.textContent = pais;

            const deleteButton = document.createElement('button');
            deleteButton.classList.add('btn');
            deleteButton.innerHTML = '<i class="bi bi-trash"></i>';
            deleteButton.addEventListener('click', function () {
                listPaisName.splice(index, 1);
                listPais.splice(index, 1);
                updateList();
            });

            listItem.appendChild(paragraph);
            listItem.appendChild(deleteButton);

            listSelect.appendChild(listItem);
        });

        // Atualiza o valor do campo hidden com os países selecionados
        selectedCountriesInput.value = listPais.join(',');
    }

    saveButton.addEventListener('click', function () {
        if (listPais.length === 5) {
            // Submete o formulário
            document.getElementById('countryForm').submit();
        } else {
            alert("Você precisa selecionar 5 países");
        }
    });

    document.getElementById('countryForm').addEventListener('submit', function (event) {
        const existingHiddenInput = document.getElementById('selectedCountries');
        if (existingHiddenInput) {
            existingHiddenInput.remove();
        }

        const newHiddenInput = document.createElement('input');
        newHiddenInput.type = 'hidden';
        newHiddenInput.id = 'selectedCountries';
        newHiddenInput.name = 'selectedCountries';
        newHiddenInput.value = listPais.join(',');

        document.getElementById('countryForm').appendChild(newHiddenInput);
    });
    getValueSelect();
</script>