
  <div class="container mt-4 border p-4 wrap-text borderRadius">
    <h1 class="text-left">Dados populacionais do mundo </h1>
    <div class="col-10">
      <div class="row image-right-text-left">
        <div class="col">
          <div class="image">
            <img src="img/foto.jpg" alt="Descrição da imagem" style="width: 500px;">
          </div>
          <div class="text">
            <p>
              Bem-vindo ao nosso portal global, onde você poderá explorar informações abrangentes
              sobre países de todos os cantos do mundo. Descubra dados atualizados sobre população,
              Aréa (Quilometros), forma de governo e expectativa de vida em um único lugar.
              Navegue, compare e mergulhe nos detalhes que tornam cada nação única.
              Explore o nosso mundo, país por país, em busca de insights fascinantes.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      
    </div>
    
  </div>